@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hotel Reservas</h1>
    
    <img src="~/imagenes/Meme.jpg" style="width: 400px; height: 500px;" />





    <button id="B1" class="btn btn-primary">Mi info</button>
    <script>
        //con ayuda 
        window.onload = function () {
            document.getElementById("B1").onclick = function () {
                alert("Mi nombre es Estefani Huertas, mi hobbie es dibujar y leer ");
            };
        };
    </script>

</div>
